.card {
    padding: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 2px solid #2f5b04 !important;
    border-radius: 20px !important;
    //width: 600px;
    //height: 600px;
    min-height: 620px;
    padding-bottom: 10px !important;
}

.card-body {
    padding-left: 30px !important;
    padding-right: 10px !important;
}

.card-img-top {
    width: 60% !important;
}

.card-text {
    font-size: 0.85rem;
    text-align: left;
}

.card-title {
    font-size: 1rem !important;
    text-align: left;
    font-weight: bold !important;
}

.benefits-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.benefits-list li {
    position: relative;
    font-weight: bold;
}

.benefits-list li:before {
    content: "●";
    color: #1e7163;
}


.btn-link {
    color: #000000 !important;
    text-align: left !important;
    text-decoration: none !important;
}

.btn-link:hover {
    color: green !important;
    /* Cambia el color a verde al pasar el mouse */
}

.caracteristics {
    background-color: #BDCD32 !important;
}

.hojas-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.icono-link {
    width: 22px;
    height: auto;
}

.hojas-list .btn-link {
    font-size: 11px;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-right: 0px;
}

.custom-margin-left {
    margin-left: 19px !important;
}

.category-selector {
    .category-image {
        width: 100%;
        height: auto; 
        max-width: 420px;
        cursor: pointer;
        transition: opacity 0.3s ease;

        &.active {
            opacity: 1;
        }

        &.inactive {
            opacity: 0.5;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.main-section {
    justify-items: center !important;
}

@media (max-width: 1400px) {
    .logo-carousel-container {
        height: 340px !important;
    }
    .nav {
        top: 88%;
    }
}

@media (max-width: 1200px) {
    .card {
        padding: 0px !important;
        padding-top: 25px !important;
    }
    .benefits-list {
        font-size: small ;
    }
    .hojas-list {
        justify-self: center; 
    }
    .logo-carousel-container {
        height: 260px;
    }
    .nav {
        top: 87%;
    }
}

@media (max-width: 990px) {
    .logo-carousel-container {
        height: 300px !important;
    }
    .nav {
        top: 87%;
    }
}

@media (max-width: 890px) {
    .logo-carousel-container {
        height: 270px !important;
    }
    .nav {
        top: 87%;
    }
}

@media (max-width: 866px) {
    .logo-carousel-container {
        height: 260px !important;
    }
    .nav {
        top: 82%;
    }
}

@media (max-width: 770px) {
    .logo-carousel-container {
        height: 260px !important;
    }
    .nav {
        top: 77%;
    }
}

@media (max-width: 670px) {
    .logo-carousel-container {
        height: 229px !important;
    }
    .nav {
        top: 77%;
    }
}

@media (max-width: 600px) {
    .logo-carousel-container {
        height: 200px !important;
    }
    .nav {
        top: 79% !important;
    }
}

@media (max-width: 520px) {
    .card-body {
        padding-left: 10px !important;
        font-size: small !important;
    }
    .benefits-list {
        padding-left: 20px !important;
    }
    .hoja-seguridad {
        padding-left: 50px;
    }
    .logo-carousel-container {
        height: 160px !important;
    }
    .nav {
        top: 65% !important;
    }
}

@media (max-width: 400px) {
    .logo-carousel-container {
        height: 140px !important;
    }
    .nav {
        top: 79%;
    }
}

@media (max-width: 1200px) {
    .container, .container-sm {
        max-width: unset !important; 
        margin: unset !important; 
    }
}