.card {
    padding: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 2px solid #2f5b04 !important;
    border-radius: 20px !important;
    //width: 600px;
    //height: 600px;
    min-height: 620px;
    padding-bottom: 10px !important;
}

.card-body {
    padding-left: 30px !important;
    padding-right: 10px !important;
}

.card-img-top {
    width: 60% !important;
}

.card-text {
    font-size: 0.85rem;
    text-align: left;
}

.card-title {
    font-size: 1rem !important;
    text-align: left;
    font-weight: bold !important;
}

.benefits-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.benefits-list li {
    position: relative;
    font-weight: bold;
}

.benefits-list li:before {
    content: "●";
    color: #1e7163;
}


.btn-link {
    color: #000000 !important;
    text-align: left !important;
    text-decoration: none !important;
}

.btn-link:hover {
    color: green !important;
    /* Cambia el color a verde al pasar el mouse */
}

.caracteristics {
    background-color: #BDCD32 !important;
}

.hojas-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.icono-link {
    width: 22px;
    height: auto;
}

.hojas-list .btn-link {
    font-size: 11px;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-right: 0px;
}

.custom-margin-left {
    margin-left: 19px !important;
}

.category-selector {
    .category-image {
        width: 420px; //160px;
        height: 50px;
        cursor: pointer;
        transition: opacity 0.3s ease;

        &.active {
            opacity: 1;
        }

        &.inactive {
            opacity: 0.5;
        }

        &:hover {
            opacity: 1;
        }
    }
}