.logo-carousel {
    position: relative;
    width: 100vh;
    //height: 100vh;
    overflow: hidden;
  }
  
  .logo-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeInOut 8s infinite;
  }
  
  .logo-carousel img:nth-child(1) {
    animation-delay: 0s;
  }
  
  .logo-carousel img:nth-child(2) {
    animation-delay: 2s;
  }
  
  .logo-carousel img:nth-child(3) {
    animation-delay: 4s;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10%, 30% {
      opacity: 1;
    }
    40%, 100% {
      opacity: 0;
    }
  }

header .nav {
    width: calc(100%);
    padding: 65px 365px;
    display: flex;
    flex-direction: row;   
}