/* header.scss */

.logo-carousel-container {
  position: relative;
  width: 100%;
  /* Tamaño máximo del contenedor */
  overflow: hidden;
  height: 350px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .logo-carousel-container {
    height: 200px;
    @media (max-width: 400px) {
        height: 170px;
      }
  }
}

.logo-carousel {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 100%;
}

.logo-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%;
  opacity: 0;
  animation: fadeInOut 8s infinite;
  z-index: 1;
}

.logo-carousel img:nth-child(1) {
  animation-delay: 0s;
}

.logo-carousel img:nth-child(2) {
  animation-delay: 2s;
}

.logo-carousel img:nth-child(3) {
  animation-delay: 4s;
}



/* Animación de fadeInOut */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Estilos del Nav */
.nav {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  z-index: 9999;
  font-size: 1.2em;

  @media (width <=1130px) {
    flex-wrap: nowrap !important;
    top: 75%;
    gap: 5px;
    font-size: 1.2em;
  }

  @media (width <=1000px) {
    flex-wrap: nowrap !important;
    top: 70%;
    gap: 5px;
    font-size: 1.2em;
  }

  @media (width <=920px) {
    flex-wrap: nowrap !important;
    top: 65%;
    gap: 5px;
    font-size: 1.2em;
  }

  @media (width <=760px) {
    flex-wrap: nowrap !important;
    top: 85%;
    gap: 5px;
    font-size: 1em;
  }

  @media (width <=550px) {
    flex-wrap: nowrap !important;
    top: 55%;
    gap: 5px;
    font-size: 1em;
  }
}

/* Estilo de la subtítulo */
.subtitle {
  font-size: 1.2em;
  font-style: italic;

  @media (min-width: 768px) {
    font-size: 1.5em;
  }
}

/* header.scss */

/* Contenedor de la galería de productos */
.product-gallery {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 100%;
}

/* Imágenes de productos */
.product-image {
  max-width: 170px;
  /* Ancho máximo */
  max-height: 170px;
  /* Altura máxima */
  object-fit: contain;
  /* Asegura que la imagen mantenga proporciones */
  width: 100%;
  /* Se adapta al ancho disponible */
  height: auto;
  /* Ajusta la altura automáticamente */
  @media (max-width: 400px) {
    width: 160%;
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media (max-width: 1200px) {

  .container,
  .container-sm {
    max-width: unset !important;
    margin: unset !important;
  }
}

.empresa {
  text-align: -webkit-center;
  font-size: 1.30em;
  font-style: italic;
  max-width: 70vh;
}